name: Python code quality

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        #python-version: ["3.9", "3.10"]
        python-version: ["3.10"]
    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint pytest pytest-cov
        pip install -e .
    - name: Analysing the code with pylint
      run: |
        pylint src/yapp
        # once the examples are ready we'll check everything
        #pylint $(git ls-files '*.py')
    - name: Run tests with pytest
      run: |
        pytest --cov=src/yapp tests
        # Ignoring coverage for now, once coverage is good we'll
        # fail on low coverage
